* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.input-div {
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}
.searchBox {
  width: 40%;
  height: 50px;
  border: none;
  border-bottom: 3px solid gray;
  font-size: 22px;
  /* margin-left: 10%; */
}

.btn {
  width: 10%;
  height: 50px;
  border: none;
  /* border: 1px solid gray; */
  /* border-left: none; */
  background-color: white;
  font-size: 22px;
}
.btn:hover {
  cursor: pointer;
  background-color: aquamarine;
  color: white;
  border-radius: 5px;
}
.images-container {
  width: 100%;
  min-height: 600px;
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}
.childDiv {
  margin: 10px;
}
.popupDiv {
  display: none;
  width: 100%;
  height: 30%;
  background-color: rgb(0, 0, 0);
  margin-top: 70%;
  opacity: 45%;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.profile-photo {
  width: 40px;
  height: 40px;
  /* background-color: white; */

  float: right;
  border-radius: 50%;
}
.childDiv:hover .popupDiv {
  display: block;
}
